.Destinations-container{
  width: 82%;
  height: 200px;
  margin: auto;
  /* border: 1px solid black; */
  display: flex;
  gap: 28px;
  /* display: inline-block; */
  overflow: hidden;
  
}
.Destinations-card{
  position: relative;
  overflow: hidden;  
  border-radius: 12px;
}
.Destinations-card img{
  width: 100%;
  
 
  height: 100%;
  display: block;
  transition: transform .4s;
 
}
.Destinations-card:hover img{
  transform: scale(1.3);
  transform-origin: 50% 50%;
}
.Destinations-card p{
  position: absolute;
    top: 135px;
    padding-left:10px;
    font-size:20px;
    color: white;
    font-weight: bold;
}