.search-bar input {
  width: 44vw;
  height: 3.5rem;
  border-radius: 56px;
  /* align-content: center; */
  text-align: 36px;
  padding-left: 50px;
  font-size: 20px;
  color: black;
  border: none;
}
.search-bar button {
  font-size: 1.3rem;
  width: 9rem;
  height: 3.5rem;
  border-radius: 58px;
  background: blue;
  color: white;
  border: none;
  margin-left: 1.05rem;
}
.search-bar button:hover {
  background:  hsl(220, 49%, 38%);
}
