.escape-loader {
  position: unset;
  visibility: visible;
}
.escape-main {
  display: flex;
  width: 84%;
  margin: auto;
  margin-top: 45px;
}
.escape-left {
  flex: 2;
  padding-right: 32px;
}
.escape-left h2 {
  font-size: 2.25rem;
  line-height: 2.75rem;
}
.escape-right {
  flex: 3;
}
.escape-right iframe {
  height: 30vw;
  max-height: 448px;
  width: 100%;
}
